RewriteEngine On

php_value upload_max_filesize 100M
php_value post_max_size 100M

Options -Indexes

DirectoryIndex index.php



ErrorDocument 404 http://94.26.37.108:42069/Twitter-2.0/view/error404_page.php

ErrorDocument 403 http://94.26.37.108:42069/Twitter-2.0/view/error403_page.php
