<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="assets/style/home_style.css" type="text/css" rel="stylesheet">
</head>
<body>


<div id="twat_box">
    <img id="twat_box_icon" src="">
    <form method="post" enctype="multipart/form-data" action="../commandPattern.php?target=twit&action=tweets">
        <textarea name="text" id="twat_input" placeholder="What's happening?"></textarea>
        <br>
        <input id="input_submit" type="submit" value="Tweet">
        <input type="file" name="twat_img" id="twat_img" value="Image" onchange="return ValidateFileUpload()">
        <label for="twat_img"><i class="fa fa-picture-o" aria-hidden="true" style="font-size: 22px"></i></label>


    </form>
</div>
<script>
    var request = new XMLHttpRequest();
    request.open("GET", "../commandPattern.php?target=user&action=profile");
    request.onreadystatechange = function (ev) {
        if (this.status == 200 && this.readyState == 4) {
            var response = JSON.parse(this.responseText);
            var img = document.getElementById("twat_box_icon");
            var img2 = document.getElementById("profile_icon");
            img.src = response['user_pic'];
            img2.src = response['user_pic'];
        }
    };
    request.send();

    function ValidateFileUpload() {
        var fuData = document.getElementById('twat_img');
        var FileUploadPath = fuData.value;

//To check if user upload any file
        if (FileUploadPath == '') {
            alert("Please upload an image");

        } else {
            var Extension = FileUploadPath.substring(
                FileUploadPath.lastIndexOf('.') + 1).toLowerCase();

//The file uploaded is an image

            if (Extension == "gif" || Extension == "png" || Extension == "bmp"
                || Extension == "jpeg" || Extension == "jpg") {
                console.log('brao');

// To Display
                if (fuData.files && fuData.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                    };

                    reader.readAsDataURL(fuData.files[0]);
                }

            }

//The file upload is NOT an image
            else {
                console.log('error');
                alert("Pictures only allows file types of GIF, PNG, JPG, JPEG and BMP. ");

            }
        }
    }
</script>
</body>
</html>
