<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="assets/style/home_style.css" type="text/css" rel="stylesheet">
</head>
<body>


<div id="twat_box">
    <img id="twat_box_icon" src="">
    <form method="post" enctype="multipart/form-data" action="../commandPattern.php?target=twit&action=tweets">
        <textarea name="text" id="twat_input" placeholder="What's happening?"
                  oninput="charactersForTweets(this)"></textarea>
        <br>

        <input id="input_submit" type="submit" value="Tweet" disabled>
        <b style="float: right; margin-top: 12px; margin-right: 5px;"><b id="tweetCounter">0</b>/200</b>
        <input type="file" name="twat_img" id="twat_img" value="Image" onchange="return ValidateFileUpload()">
        <label id="imgLabel" for="twat_img"><i class="fa fa-picture-o" aria-hidden="true"
                                               style="font-size: 22px"></i></label>


    </form>
</div>

</body>
<script src="assets/js/compose_tweet.js"></script>
</html>
