<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="assets/style/home_style.css" type="text/css" rel="stylesheet">
</head>
<body>


<div id="twat_box">
    <img id="twat_box_icon" src="">
    <form method="post" enctype="multipart/form-data" action="../commandPattern.php?target=twit&action=tweets">
        <textarea name="text" id="twat_input" placeholder="What's happening?"
                  oninput="charactersForTweets(this)"></textarea>
        <br>

        <input id="input_submit" type="submit" value="Tweet" disabled>
        <b style="float: right; margin-top: 12px; margin-right: 5px;"><b id="tweetCounter">0</b>/200</b>
        <input type="file" name="twat_img" id="twat_img" value="Image" onchange="return ValidateFileUpload()">
        <label id="imgLabel" for="twat_img"><i class="fa fa-picture-o" aria-hidden="true" style="font-size: 22px"></i></label>


    </form>
</div>
<script>
    var request = new XMLHttpRequest();
    request.open("GET", "../commandPattern.php?target=user&action=profile");
    request.onreadystatechange = function (ev) {
        if (this.status == 200 && this.readyState == 4) {
            var response = JSON.parse(this.responseText);
            var img = document.getElementById("twat_box_icon");
            var img2 = document.getElementById("profile_icon");
            img.src = response['user_pic'];
            img2.src = response['user_pic'];
        }
    };
    request.send();

    function ValidateFileUpload() {
        var fuData = document.getElementById('twat_img');
        var FileUploadPath = fuData.value;

//To check if user upload any file
        if (FileUploadPath == '') {
            alert("Please upload an image");

        } else {
            var Extension = FileUploadPath.substring(
                FileUploadPath.lastIndexOf('.') + 1).toLowerCase();

//The file uploaded is an image

            if (Extension == "gif" || Extension == "png" || Extension == "bmp"
                || Extension == "jpeg" || Extension == "jpg") {
// To Display
                var label = document.getElementById('imgLabel');
                label.innerHTML+=' Image is ready!';
                label.style.width='auto';
                var send = document.getElementById('input_submit');
                send.disabled = false;
                send.style.backgroundColor = '#1da1f2';
                send.style.cursor = "pointer";
                if(document.getElementById('twat_input').value.length==0 || document.getElementById('twat_input').value.length > 200){
                    var send = document.getElementById('input_submit');
                    send.disabled = true;
                    send.style.backgroundColor = "gray";
                    send.style.cursor = "not-allowed";
                }
                if (fuData.files && fuData.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(fuData.files[0]);
                }

            }

//The file upload is NOT an image
            else {
                var label = document.getElementById('imgLabel');
                console.log('error');
                alert("Pictures only allows file types of GIF, PNG, JPG, JPEG and BMP. ");
                label.innerHTML='<i class="fa fa-picture-o" aria-hidden="true" style="font-size: 22px"></i>';
                label.style.width='45px';
                if(document.getElementById('twat_input').value.length==0 || document.getElementById('twat_input').value.length > 200){
                    var send = document.getElementById('input_submit');
                    send.disabled = true;
                    send.style.backgroundColor = "gray";
                    send.style.cursor = "not-allowed";
                }
            }
        }
    }
</script>
</body>
</html>
