<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="assets/style/profile_style.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
</head>
<body id="body" onclick="hide()">
<div class="topbar" id="top_bar">
    <div class="topbarcontainer">
        <div class="navigation">
            <ul>
                <li class="navLi" id="navHome"><a href="home.php#body"><img class="navImg" src="assets/images/home.png"></a>
                </li>
                <li class="navLi" id="navNotifications"><img class="navImg" src="assets/images/notif.png"></li>
                <li class="navLi" id="navMessages"><a href="#"><img class="navImg" src="assets/images/msg.png"
                                                                    onclick="msgs()"></a>
                </li>
                <li class="navLi" id="test"><a href="home.php#body"><img src="assets/images/bird.png"></a></li>
                <li class="navLi" id="inputLi"></li>
            </ul>
        </div>
        <form method="post" action="../commandPattern.php?target=user&action=logout">
            <input type="submit" id="top_bar_twat" value="Log Out">
        </form>

        <div id="iconDiv">
            <a href="profile.php"><img id="profile_icon" src=""></a>
        </div>
        <div id="asd">
            <input oninput="search()" id="searchInput" type="text" placeholder="Search Twatter">
            <i class="fa fa-search" aria-hidden="true" id="searchIcon"></i>
            <div id="ul">

            </div>
        </div>
    </div>
</div>
<script src="assets/js/header.js">
</script>
</body>
</html>
