<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/style/home_style.css">
</head>
<body>
<div class="home_profile">
    <div class="home_profile_cover">
        <img id="cover" src="">
    </div>
    <div class="home_profile_name">
        <a  href="profile.php"><img class="home_profile_img" id="hm_prof_img" src=""></a>
        <a  href="profile.php"><h2 id="profile_h2"></h2></a><br>
        <a  href="profile.php"><h4 id="profile_h4"></h4></a>
    </div>
    <div class="home_profile_stats">
        <ul class="profile_ul">
            <li class="prof_li">Следва<br><a class="prof_box_numbers" id="home_prof_following"></a></li>
            <li class="prof_li">Последователи<br><a class="prof_box_numbers" id="home_prof_followers"></a></li>
            <li class="prof_li">Туитове<br><a class="prof_box_numbers" id="home_prof_tweets"></a></li>
        </ul>
    </div>
</div>

<script src="assets/js/home_profile.js"></script>
</body>
</html>
